<h1>Hello, Algolia!</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Url</th>
      <th scope="col">Created At</th>
      <th scope="col">Author</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hit of hits">
      <td>{{hit.title}}</td>
      <td><a href="{{hit.url}}" target="_blank">Open</a></td>
      <td>{{hit.created_at | date:'medium'}}</td>
      <td>{{hit.author}}</td>
      <td><button class="btn btn-primary" (click)="open(hit)">Details</button></td>
    </tr>
  </tbody>
</table>
